<section data-controller="hide" class="sectioncontainer" data-turbo-permanent>
  <div data-hide-target="sidebarContainer" class="sidebar-container">
    <h2 class="sidebar-title">Painel de controle</h2>
    <div class="sidebar-content">
      <ul class="sidebarlist">
        <%= content_tag(:li, link_to("Projetos", "#", data: { action: "click->hide#show", hide_tab_param: "projetos"})) %>
        <%= content_tag(:li, link_to("Formações", "#", data: { action: "click->hide#show", hide_tab_param: "formacoes"}))%>
      </ul>
      <%= link_to "Disconectar!", destroy_user_session_path, data: { turbo_method: :delete } ,class: "btn btn-primary" %>
      <p class="sidebar-user">User: <%= current_user.email %></p>
    </div>
  </div>
  <div class="sidebarbtn">
    <button data-action="click->hide#toggleSidebar" class="sidebarhide-btn">
      ☰
    </button>
  </div>

  <div class="form-container">
    <h2 class="container-title">Bem vindo ao painel de controle!</h2>
    <!-- Formulário de Projetos -->
    <div id="form-projetos" class="form-section" data-hide-target="formProjetos" style="display: none;">
      <h3>Adicionar Novo Projeto</h3>
      <%= form_with model: @projeto, url: admin_dashboard_index_path, method: :post, local: true do |form| %>

        <!--Partial criada para chamar mensagens de erro no formulário-->
        <%= render "shared/form_errors_messages", object: @projeto %>

        <!--Formulario para inserir valores-->
        <div class="form-group">
          <%= form.label :language, "Linguagem utilizada: " %>
          <%= form.text_field :language, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :description, "Descrição: " %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :image_url, "Link: " %>
          <%= form.text_field :image_url, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :date_p, "Data: " %>
          <%= form.datetime_field :date_p, class: "form-control" %>
        </div>
        <%= form.submit "Adicionar", class: "btn" %>
      <% end %>
    </div>
    
    <div id="TabelaProjetos" data-hide-target="tabela">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Linguagem</th>
            <th>Descrição</th>
            <th>Link</th>
            <th>Data</th>
            <th>Alterar</th>
          </tr>
        </thead>
        <tbody>
          <% if @projetos.present? %>
            <% @projetos.each do |projeto| %>
              <tr>
                <td><%= projeto[:id] %></td>
                <td><%= projeto[:language].truncate(25) %></td>
                <td><%= projeto[:description].truncate(30) %></td>
                <td><%= projeto[:image_url].truncate(20) %></td>
                <td><%= I18n.l(projeto[:date_p], format: :short) %></td>
                <td>
                  <%= content_tag(:li, "Editar")%>
                  <%=content_tag(:li, "Excluir")%>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>
                Erro ao buscar dados ou dados vazio
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>