<section data-controller="hide" class="sectioncontainer" data-turbo-permanent>
  <div data-hide-target="sidebarContainer" class="sidebar-container">
    <h2 class="sidebar-title">Painel de controle</h2>
    <div class="sidebar-content">
      <ul class="sidebarlist">
        <%= content_tag(:li, link_to("Projetos", admin_dashboard_index_path, data: { action: "click->hide#show", hide_tab_param: "projetos"})) %>
        <%= content_tag(:li, link_to("Formações", admin_dashboard_index_path, data: { action: "click->hide#show", hide_tab_param: "formacoes"}))%>
      </ul>
      <%= link_to "Desconectar!", destroy_user_session_path, data: { turbo_method: :delete } ,class: "btn btn-primary" %>
      <p class="sidebar-user">User: <%= current_user.email %></p>
    </div>
  </div>
  <div class="sidebarbtn">
    <button data-action="click->hide#toggleSidebar" class="sidebarhide-btn">
      ☰
    </button>
  </div>

  <div class="form-container">
    <h2 class="container-title">Bem vindo ao painel de controle!</h2>
    <!-- Formulário de Projetos -->
      <%= render 'shared/form'%>
      <%= render 'shared/formf'%>
  </div>
</section>