<!--Barra superior que será utilizada em todas as paginas-->
<nav>
    <div class="nav-logo">
        <%= link_to root_path, class: "nav-icon" do %>
            <i class="ri-copyright-line"></i>
        <% end %>
    </div>
    <ul class="nav-links">
        <!--Clique envia para as paginas -->
        <li class="link"><%= link_to 'Introdução', root_path %></li>
        <li class="link"><%= link_to 'Formação', academics_path %></li>
        <li class="link"><%= link_to 'Projetos', projects_path %></li>
        <li class="link"><%= link_to 'Contatos', contacts_path %></li>
    </ul>
  <% if user_signed_in? %>
    <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Logar', new_user_session_path %>
  <% end %>
</nav>
