<body>
    <header class="container">
        <div class="content">
            <!--Projeta luz no background-->
            <% 2.times do %>
                <span class="blur"></span>
            <% end %>
            <!--Introdução sobre mim-->
            <h4>Procurando alguém para desbravar o universo da tecnologia?</h4>
            <h1>Olá, sou o <span>Carlos!</span></h1>
            <p>Futuro Cientista de Dados e Explorador Full-Stack! 
            Estou aqui para transformar ideias em soluções e códigos 
            em resultados concretos! Sou um estudante focado em tecnologia,
             com o objetivo de dominar o mundo dos dados e explorar as
             possibilidades do desenvolvimento. Sempre em busca de novos 
             desafios e aprendizados. E então? Bora codar?
            </p>
            <%= link_to "Vamos lá", contacts_path, class: "btn" %>
        </div>

        <div class="image">
            <%= image_tag "eu.png", alt: "Apresentação Visual" %>
        </div>
    </header>
    <section class="container">
        <h2 class="header"> OUR FEATURES</h2>
        <div class="features">
             <%=render 'shared/card', icon: 'ri-arrow-right-line', title: 'Free Tutorials',
             description: 'My tutorials in my channel "AsmrProg" are free and you don\'t need to pay anything.', 
             link_path: root_path %>

             <%=render 'shared/card', icon: 'ri-bug-line', title: 'Fix Your Bugs',
             description: 'You have any problem in your codes? Tell me, i will help you fix it.',
              link_path: contacts_path %>

             <%=render 'shared/card', icon: 'ri-history-line', title: 'On Time Videos',
             description: 'We have video each 4 days, So check channel every 4 days to watch it!', 
             link_path: academics_path %>

             <%=render 'shared/card', icon: 'ri-shake-hands-line', title: 'Cooperation',
             description: 'You want we worrk together? Write email to us, we will read it.', 
             link_path: projects_path %>
        </div>
    </section>
    <%#= javascript_include_tag "script", "data-turbo-track": "reload" %> 
    
</body>