<body>
    <header class="container">
        <div class="content">
            <!--Projeta luz no background-->
            <%= safe_join(Array.new(2) { content_tag(:span, "", class: "blur") }) %>
            <!--Introdução sobre mim-->
            <h4>Procurando alguém para desbravar o universo da tecnologia?</h4>
            <h1>Olá, sou o <span>Carlos!</span></h1>
            <p>Futuro Cientista de Dados e Explorador Full-Stack! 
            Estou aqui para transformar ideias em soluções e códigos 
            em resultados concretos! Sou um estudante focado em tecnologia,
             com o objetivo de dominar o mundo dos dados e explorar as
             possibilidades do desenvolvimento. Sempre em busca de novos 
             desafios e aprendizados. E então? Bora codar?
            </p>
            <%= link_to "Vamos lá", contacts_path , class: "btn" %>
        </div>

        <%= content_tag(:div, image_tag("eu.png", alt: "Foto de Carlos - Apresentação Visual"),
         class: "image") %>
         
    </header>
    <section class="container">
        <h2 class="header"> NESSE PROJETO </h2>
        <!--importante para o back-end -->
        <section class="features">
            <%= render partial: 'shared/card', collection: @cards, as: :card %>
        </section>
    </section>
    <!--Rodapé do site-->
    <footer class="container">
        <%= safe_join(Array.new(2) { content_tag(:span, "", class: "blur blur-right") }) %>
        <h4 class="header">Site criado em 2025© - Ruby & Rails</h4>
    </footer> 
</body>